<div class="row videoWrapper">
	<iframe src={{videoSource}}></iframe>
</div>
<div class="row well well-lg">
	<h4>{{videoItem.title}}</h4>
	<p>{{videoItem.description}}</p>
	<p>Published At: {{videoItem.publishedAt}}</p> 
</div>