<!-- in case no item in playlist this template is shown -->
<div class="text-center logo">
  <span class="glyphicon glyphicon-cd"></span>
  <h4>No Video Selected</h4>
  <p>Select a video listed in your playlist to instantly play</p>
</div>