<ul class = "list-group">
		{{#each model as |video|}}
				{{#video-desc videoItem=video titleClicked="PlayVideo"}}
					<div class="input-group">
						<h4>
						{{#if video.inPlaylist}}
							<span class = "btn btn-danger glyphicon glyphicon-remove" {{action 'RemoveFromPlaylist' video}}></span>
						{{else}}
							<span class = "btn btn-success glyphicon glyphicon-ok" {{action 'AddToPlaylist' video}}></span>
						{{/if}}
						</h4>
					</div>
				{{/video-desc}}
		{{/each}}
</ul>

<!-- Modal -->
<div class="modal fade" id="playerModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				{{youtube-video-player videoItem=selectedVideoItem autoPlay=false}}
			</div>
		</div>
	</div>
</div>