<!-- Backstage Section -->
<div class="row marged">
	<div class="col-sm-8 padded">
		<h2>Backstage</h2><br>
		<h4>Wacky is an open-source project</h4>      
		<p>build using <strong>Ember.js & Twitter Bootstrap</strong></p><br>
		<a href="https://github.com/matanlion/WackyMediaPlayer" class="btn btn-default btn-lg">Git it!</a>
	</div>
	<div class="col-sm-4 logo">
		<span class="glyphicon glyphicon-download-alt"></span>
	</div>
</div>

<!-- Resources Section -->
<div class="row bg-grey">
	<div class="row marged">
		<div class="col-sm-4 logo">
			<span class="glyphicon glyphicon-education"></span>
		</div>
		<div class="col-sm-8 padded">
			<h2>Resources</h2><br>
			<h4>This project was developed using several usful guides and forums incuding:</h4>      
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-chevron-right"></span>	<a href="http://balinterdi.com/rock-and-roll-with-emberjs/">Rock & Roll with Ember.js Guide</a></li>
				<li><span class="glyphicon glyphicon-chevron-right"></span>	<a href="https://guides.emberjs.com/v2.3.0/">Ember.js official Guides</a></li>
				<li><span class="glyphicon glyphicon-chevron-right"></span>	<a href="http://www.w3schools.com/bootstrap/">W3schools.com's Bootstrap 3 Tutorial</a></li>
				<li><span class="glyphicon glyphicon-chevron-right"></span>	<a href="http://getbootstrap.com/">Twitter Bootstrap official website</a></li>
				<li><span class="glyphicon glyphicon-chevron-right"></span>	<a href="http://stackoverflow.com/">Stack Overflow Q&A website</a></li>
			</ul>
			<h3>And many more!</h3>
		</div>
	</div>	
</div>

<!-- Personal Notes Section -->
<div class="row marged">
	<div class="col-sm-8 padded">
		<h2>Personal Note</h2><br>
		<h4>I truely had a great experience developing with Ember.js, a powerful framework that can 
		scale up to handle complex apps. Now I can actually agree with the saying that Ember.js is...</h4>      
		<em><h3 class="text-center"><strong>"A framework for creating ambitious web applications!"</strong><small>	emberjs.com</small></h3></em>
	</div>
	<div class="col-sm-4 logo">
		<span class="glyphicon glyphicon-user"></span>
	</div>
</div>

<!-- Stay in touch Section -->
<div class="row bg-grey">
	<div class="row marged text-center">
		<h2>Stay in touch</h2>
		  <p>Contact me for further details about this project</p>
		  <p><span class="glyphicon glyphicon-map-marker"></span> Tel-Aviv, IL</p>
		  <p><span class="glyphicon glyphicon-phone"></span> +972 546740909</p>
		  <p><span class="glyphicon glyphicon-envelope"></span> matan.lion@gmail.com</p> 
	</div>	
</div>