<!-- Fixed Header -->
<div id="header-fixed" class="container-fluid">
  <h1>Wacky Media Player <span class="glyphicon glyphicon-fire"></span></h1>
  <h3>Your Music Hub</h3>
</div>

<!-- Affix Header -->
<nav id="header-affix" class="navbar navbar-inverse" data-spy="affix" data-offset-top="120">
  <ul class="nav navbar-nav">
    <li>{{#link-to "index" class="active"}}Home{{/link-to}}</li>
    <li>{{#link-to "playlist"}}Playlist{{/link-to}}</li>
    <li>{{#link-to "search"}}Search{{/link-to}}</li>
    <li>{{#link-to "about"}}About{{/link-to}}</li>
  </ul>
</nav>

<!-- Body -->
<div class="container" id="content">
  {{outlet}}
</div>

<!-- Footer -->
<footer class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid text-center">
		  	<p><span class="glyphicon glyphicon-fire wacky-logo"></span> Wacky Media Player © 2016</p> 
      </div>
</footer>

<!-- Notification Modal -->
<div class="modal fade" id="notificationModal" role="dialog">
	<div class="modal-dialog">
    <div class="{{if isNotificationSuccess 'alert alert-success' 'alert alert-info'}}">
		  {{notificationContent}}
    </div>
	</div>
</div>