<div class="container-fluid text-center">
  <p>
  <h2>Hey!</h2>
  <h4>Welcome 2 Wacky</h4>
  </p>

  <div class="row">
    {{#link-to 'search'}}
	    <div class="col-sm-4 logo-small">
		      <span class="glyphicon glyphicon-search"></span>
		      <h4>SEARCH</h4>
		      <p>Search for your favorite youtube videos</p>
	    </div>
    {{/link-to}}
    {{#link-to 'playlist'}}
	    <div class="col-sm-4 logo-small">
	      <span class="glyphicon glyphicon-shopping-cart"></span>
	      <h4>MANAGE</h4>
	      <p>Add & Remove videos to your own playlist</p>
	    </div>
    {{/link-to}}
	{{#link-to 'playlist'}}
    <div class="col-sm-4 logo-small">
      <span class="glyphicon glyphicon-volume-up"></span>
      <h4>PLAY</h4>
      <p>Sit back and enjoy :)</p>
    </div>
	{{/link-to}}
  </div>
</div>